In [3]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [6]:
ticker = yf.download("RELIANCE.NS", start="2017-01-01" )

[*********************100%***********************]  1 of 1 completed

In [7]:
ticker

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-02,536.910645,539.882446,531.140320,537.455444,523.695190,3275674
2017-01-03,539.808167,543.349609,535.474243,539.585266,525.770447,2969384
2017-01-04,541.318848,541.368347,527.153137,528.564758,515.032166,4796129
2017-01-05,530.471680,534.879883,529.357239,533.641602,519.979004,4030815
2017-01-06,532.056641,537.405945,531.511780,532.428101,518.796631,3620853
...,...,...,...,...,...,...
2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,2593.100098,4020744
2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2577.800049,2216708
2021-11-16,2572.050049,2575.000000,2495.000000,2517.899902,2517.899902,5232292
2021-11-17,2498.949951,2498.949951,2461.000000,2464.000000,2464.000000,4708235
2021-11-18,2460.000000,2489.000000,2450.050049,2473.300049,2473.300049,3925345